GOOGLE_SERVICE_ACCOUNT_JSON={"type":"service_account",...}
GOOGLE_SHEET_ID=1sfDjoKbrEbKvA0qwMA1nPdcEu628YgNX0A_JLLOB4WA
DART_API_KEY=your_dart_api_key_here
TELEGRAM_BOT_TOKEN=your_telegram_bot_token_here
TELEGRAM_DART_ID_Light=-1002580477190
TELEGRAM_DART_ID_Atom=-1002686978322
